{% extends "layout.twig" %}

{% block content %}

    <div class="container d-flex align-items-center justify-content-center text-center">
        <div>
            <h3>401 Unauthorized.</h3>
            <a href="/">Home</a>
            <a href="/login">Login</a>
        </div>
    </div>
    
{% endblock %}