{% extends "layout.twig" %}

{% block content %}

    <div class="container d-flex align-items-center justify-content-center text-center">
        <div>
            <h3>404 not found.</h3>
            <a href="/">Home</a>
        </div>
    </div>
    
{% endblock %}