<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ asset('assets', 'favicon.ico') }}" type="image/x-icon">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
	<script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <link rel="stylesheet" href="{{ asset('assets', 'css/styles.css') }}">
    {% block styles %}{% endblock %}
</head>
<body class="is-boxed has-animations">

    {% block content %}{% endblock %}

    <script src="{{ asset('assets', 'js/main.min.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>